@tailwind base;
@tailwind components;
@tailwind utilities;

.text-celeste-oscuro { color: #00bfe1; }
.text-aquamarina-oscuro { color: #00d1c1; }
.text-aquamarina-claro { color: #6ce7e0; }
.text-crema { color: #f9ebc3; }
.text-limon { color: #9ce56e; }
.bg-celeste-oscuro { background-color: #00bfe1; }
.bg-aquamarina-oscuro { background-color: #00d1c1; }
.bg-aquamarina-claro { background-color: #6ce7e0; }
.bg-crema { background-color: #f9ebc3; }
.bg-limon { background-color: #9ce56e; }

.header-bg {
  /* background: linear-gradient(135deg,#fff 0%,#f9ebc3 100%); */
}

.header-bg-lg {
  background: transparent;
}

@screen lg {
  .header-bg {
    background: transparent;
  }

  .header-bg-lg {
    /* background: linear-gradient(135deg,#fff 0%,#f9ebc3 100%); */
    min-height: 700px;
  }

  .service-slider {
    width: 400px;
  }
}

.menu-btn {
  @apply text-teal-100 rounded-lg cursor-pointer;
}
.menu-btn:hover {
  @apply bg-teal-800;
}
.active.menu-btn {
  @apply text-green-800 bg-limon;
}

.shadow-strong {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.25);
}

@keyframes beatHeart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.beating {
  -webkit-animation: .8s infinite beatHeart;
          animation: .8s infinite beatHeart;
}

.zoom-slider {
  @apply rounded-lg;    
}